<!-- HTML -->
<!DOCTYPE html>
<html>
<head>
    <title>Strona logowania</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1>Logowanie</h1>
    <form method="POST" action="/login">
        <div class="input-container">
            <label for="email">Adres email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="input-container">
            <label for="password" id="password-label">Hasło:</label>
            <div class="password-container">
                <input type="password" id="password" name="password">
                <img src="../static/images/eye.svg" alt="Eye icon" class="eye-icon" onclick="togglePassword()">
            </div>        
        </div>
        <br>
        <input type="submit" class="login-button" value="Zaloguj">
    </form>
    <a href="register.html">Nie masz konta? Zarejestruj się!</a>
    <script src="../static/js/eye.js"></script>
</body>
</html>
