<!DOCTYPE html>
<html>
<head>
    <title>INTELLICASA</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="top-bar">
        <img src="../static/logo.png" alt="Logo IntelliCasa">
    </div>
    <div class="left">
        <div class="device-container">
            <h2>Lampka sypialnia <img src="../static/lightbulb-solid.svg" alt="Ikona"></h2>
            <p id="status" class="device-off">Urządzenie <span class="status-text">OFF</span></p>
            <div class="button-container">
                <button id="turnOn">Włącz</button>
                <button id="turnOff">Wyłącz</button>
            </div>
        </div>
        <div class="device-container">
            <h2>Lampka salon <img src="../static/lightbulb-solid.svg" alt="Ikona"></h2>
            <p id="status2" class="device-off">Urządzenie <span class="status-text">OFF</span></p>
            <div class="button-container">
                <button id="turnOn2">Włącz</button>
                <button id="turnOff2">Wyłącz</button>
            </div>
        </div>
        <div class="device-container">
            <h2>Ekspres do kawy <img src="../static/mug-hot-solid.svg" alt="Ikona"></h2>
            <p id="status3" class="device-off">Urządzenie <span class="status-text">OFF</span></p>
            <div class="button-container">
                <button id="turnOn3">Włącz</button>
                <button id="turnOff3">Wyłącz</button>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="map-container">
            <img src="../static/mapadom.png" alt="Mapa" class="map-image">
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
